
<div class="container-fluid" data-ng-app="logoDesigner">
    <div class="row-fluid" data-ng-controller="logoDesignerController">
        <div class="offset-md-3 col-md-6">
            <div class="popup-container">
                <div class="popup padded">
                    <div class="popup-content">
                        <div data-logo-designer></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="svgform" method="post" action="download.pl">
    <input type="hidden" id="output_format" name="output_format" value="">
    <input type="hidden" id="data" name="data" value="">
</form>





<div class="container-fluid" data-ng-app="store" style="display: none;">
    <div class="row-fluid" data-ng-controller="productController">

        <div class="card col-md-6 pull-left" style="display: none;">
            <canvas id="nn-canvas" style="display: block; border: 1px solid #000; width: 400px; height: 400px;" width="400" height="400"></canvas>
        </div>
        
        <div class="card col-md-4 pull-right" style="display: block;">
            <select>
                <option>Test1</option>
                <option>Test2</option>
                <option>Test3</option>
            </select>

            <div class="dropdown">
                <div class="inner">Test1<i class="arrow fa fa-caret-down"></i></div>
                <div class="options">
                    <div class="inner">
                        <div class="option">Test1</div>
                        <div class="option">Test2</div>
                        <div class="option">Test3</div>
                    </div>
                </div>
            </div>
``
            <div class="dropdown">
                <div class="inner">Test1<i class="arrow fa fa-caret-down"></i></div>
                <div class="options">
                    <div class="inner">
                        <div class="option">Test1</div>
                        <div class="option">Test2</div>
                        <div class="option">Test3</div>
                    </div>
                </div>
            </div>

            <div class="btn">Secondary Button</div>
            <div class="btn primary">Primary Button</div>

            <script>
                $('.dropdown').on('click', function(e) {
                    var dropdown = $(e.currentTarget);
                    var options = dropdown.find('.options');
                    var inner = options.find('.inner');
                    
                    if (dropdown.hasClass('open')) {
                        dropdown.removeClass('open');
                        options.css('height', 0);
                    } else {
                        dropdown.addClass('open');
                        options.css('height', inner.outerHeight(true));
                    }
                });

                $(document).on('click', function(e) {
                    if ($(e.currentTarget).parents().hasClass('dropdown')) {
                        var dropdowns = $('.dropdown')
                        dropdowns.each(function(dropdown) {
                            $(this).removeClass('open');
                            $(this).find('.options').find('.inner').css('height', 0);
                        });
                    }
                });
            </script>
        </div>
        
        <div data-product></div>
        
        <!-- <div class="col-md-6 pull-left">
            <div class="card">
                <div class="row-fluid">
                    <div class="col-md-12 pull-left">
                        <label>Checkbox</label>
                        <div class="checkbox" onClick="$(this).find('input').click()">
                            <input type="checkbox" value="Test" />
                            <div class="inner">
                                <div class="checked"><i class="fa fa-check"></i></div>
                                <div class="unchecked"><i class="fa fa-times"></i></div>
                            </div>
                        </div>
                        
                        <label>Toggle Box</label>
                        <div class="togglebox" onClick="$(this).find('input').click()">
                            <input type="checkbox" value="Test" />
                            <div class="inner">
                                <div class="value"><i class="fa fa-check"></i></div>
                                <div class="value"><i class="fa fa-times"></i></div>
                                <div class="toggle">
                                    <div class="inner">
                                        <div class="value"><i class="fa fa-check"></i></div>
                                        <div class="value"><i class="fa fa-times"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="text" value="Value" />
                        <div class="message error">
                            <i class="fa fa-caret-up" aria-hidden="true"></i>&nbsp;Please enter a valid name.
                        </div>
                        <input type="text" value="" placeholder="Placeholder" />

                        <label for="text-for-label">Text For Label</label>
                        <input id="text-for-label" type="text" value="Text For Label" />

                        <select>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>

                        <textarea>Test</textarea>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-md-6 pull-left">
                        <div class="btn btn-primary">Primary Button</div>
                    </div>
                    <div class="col-md-6 pull-right">
                        <div class="btn">Button</div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div>

            <div class="col-md-6 pull-left">
                <div class="card">
                    <div class="row-fluid">
                        <div class="col-md-12 pull-left">
                            <div data-login data-name="Test"></div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-md-6 pull-left">
                <div class="card">
                    <div class="row-fluid">
                        <div class="col-md-12 pull-left">
                            <p>Nothing here {{'yet' + '!'}}</p>
                            <input type="text" data-ng-model="nameFilter" placeholder="Search..."/>
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="4">Drivers Championship Standings</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="driver in driversList | filter: nameFilter">
                                        <td>{{$index + 1}}</td>
                                        <td>
                                            <img src="img/flags/{{driver.Driver.nationality}}.png" />
                                            {{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}
                                        </td>
                                        <td>{{driver.Constructors[0].name}}</td>
                                        <td>{{driver.points}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->


        <!-- <div data-ng-app="LogoDesigner" data-ng-controller="designerController">
            <div class="col-md-12 pull-left">
                <div class="card">
                    <div data-logo-designer></div>
                    <div data-popup data-inner-directive="login"></div>
                </div>
            </div>
        </div> -->


    </div>
</div>