/*
-- 0 - Other             - 37, 40, 49    - #252831
-- 1 - Background Dark   - 22, 56, 80    - #163850
-- 2 - Compliment        - 255, 255, 255 - #ffffff
-- 3 - Background Light  - 235, 235, 235 - #ebebeb
-- 4 - Highlight         - 254, 182, 63  - #feb63f
*/

html {
    min-height: 100vh;
}

body {
    --theme-border-radius: 2px;
    --theme-border-thickness: 1px;
    --theme-colour-highlight-1: #76323f;
    --theme-colour-highlight-2: #565656; /* #565656 */
    --theme-colour-background-1: #fbfbfb; /* #565656 */
    --theme-colour-background-2: #fff; /* #d7cec7 */
    --theme-colour-text: #565656;

    --theme-shadow-blur: 4px;
    --theme-shadow-offset-x: 1px;
    --theme-shadow-offset-y: 2px;
    --theme-shadow-colour: rgba(0,0,0,0.4);

    color: var(--theme-colour-text);
    background-color: var(--theme-colour-background-1);

    font-family: 'Lato', sans-serif;

    min-height: 100vh;
}

input,
textarea,
select {
    width: 100%;
    margin-bottom: 15px;
}

.card {
    padding: 15px 15px 0 15px;
    margin-bottom: 15px;
    background-color: var(--theme-colour-background-2);

    border: none;
    border-radius: var(--theme-border-radius);

    box-shadow: var(--theme-shadow-offset-x) var(--theme-shadow-offset-y) var(--theme-shadow-blur) 0 var(--theme-shadow-colour);
}

h1 {font-size: 2rem;}
h2 {font-size: 1.8rem;}
h3 {font-size: 1.6rem;}
h4 {font-size: 1.4rem;}
h5 {font-size: 1.2rem;}
h6 {font-size: 1rem;}

h1.primary,
h2.primary,
h3.primary,
h4.primary,
h5.primary,
h6.primary,
p.primary,
span.primary,
a.primary,
i.primary {
    color: var(--theme-colour-highlight-1);
}

.price {
    font-size: 1.5rem;
}






.btn {
    padding: 8px;
    margin-bottom: 15px;
    width: 100%;

    color: var(--theme-colour-highlight-2);
    background-color: var(--theme-colour-background-2);
    border: var(--theme-border-thickness) solid var(--theme-colour-highlight-2);
    border-radius: var(--theme-border-radius);

    box-shadow: var(--theme-shadow-offset-x) var(--theme-shadow-offset-y) var(--theme-shadow-blur) 0 var(--theme-shadow-colour);

    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    color: var(--theme-colour-background-2);
    background-color: var(--theme-colour-highlight-2);
    border: var(--theme-border-thickness) solid var(--theme-colour-highlight-2);

    font-weight: 600;
}

.btn:not([disabled]):not(.disabled):active {
    color: var(--theme-colour-background-2);
    background-color: var(--theme-colour-background-1);
    border: var(--theme-border-thickness) solid var(--theme-colour-background-1);
    box-shadow: none;
    opacity: 0.6;
}

.btn.primary {
    color: var(--theme-colour-highlight-1);
    border: var(--theme-border-thickness) solid var(--theme-colour-highlight-1);
}

.btn.primary:hover {
    color: var(--theme-colour-background-2);
    background-color: var(--theme-colour-highlight-1);
    border: var(--theme-border-thickness) solid var(--theme-colour-highlight-1);
}

.btn.primary:not([disabled]):not(.disabled):active {
    color: var(--theme-colour-background-2);
    background-color: var(--theme-colour-highlight-1);
    border: var(--theme-border-thickness) solid var(--theme-colour-highlight-1);
    box-shadow: none;
    opacity: 0.6;
}

.btn.primary:focus {
    box-shadow: none;
}


input {
    box-shadow: var(--theme-shadow-offset-x) var(--theme-shadow-offset-y) var(--theme-shadow-blur) 0 var(--theme-shadow-colour);
}

input[type=text] {
    padding: 8px 12px;

    color: #fff;
    background-color: var(--theme-colour-background-2);
    border: var(--theme-border-thickness) solid var(--theme-colour-background-1);
    border-radius: var(--theme-border-radius);
}

input[type=text]:focus {
    outline: none;

    color: var(--theme-colour-background-2);
    background-color: var(--theme-colour-background-1);
    border: var(--theme-border-thickness) solid var(--theme-colour-background-1);
}

input[type=text]::placeholder {
    color: #aaa;
}




textarea {
    padding: 8px;

    color: var(--theme-colour-text);
    background-color: var(--theme-colour-background-2);
    border: var(--theme-border-thickness) solid var(--theme-colour-background-1);
    border-radius: var(--theme-border-radius);
    box-shadow: var(--theme-shadow-offset-x) var(--theme-shadow-offset-y) var(--theme-shadow-blur) 0 var(--theme-shadow-colour);
}

textarea:focus {
    outline: none;

    color: var(--theme-colour-text);
    background-color: var(--theme-colour-background-1);
    border: var(--theme-border-thickness) solid var(--theme-colour-background-1);
}

textarea::placeholder {
    color: #aaa;
}




.checkbox {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 15px;
    width: 44px;
    height: 44px;
    font-size: 16px;
}
.checkbox .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    border: var(--theme-border-thickness) solid var(--theme-colour-background-1);
    border-radius: var(--theme-border-radius);
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
}
.checkbox > input[type=checkbox]:checked + .inner {
    background-color: var(--theme-colour-background-1);
    border: var(--theme-border-thickness) solid var(--theme-colour-background-1);
    color: var(--theme-colour-text);
}
.checkbox > .inner .checked {
    position: absolute;
    transform: translateY(200%);
    transition: transform 0.3s;
}
.checkbox > .inner .unchecked {
    position: absolute;
    transform: translateY(0%);
    transition: transform 0.3s;
}
.checkbox > input[type=checkbox]:checked ~ .inner .checked {transform: translateY(0%);}
.checkbox > input[type=checkbox]:checked ~ .inner .unchecked {transform: translateY(-200%);}
.checkbox > input[type=checkbox] {display: none;}






.togglebox {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 15px;
    width: 88px;
    height: 44px;
    font-size: 16px;
}
.togglebox > .inner {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    width: 100%;
    height: 100%;
    border: var(--theme-border-thickness) solid var(--theme-colour-background-1);
    border-radius: var(--theme-border-radius);
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
}
/* .togglebox > input[type=checkbox]:checked + .inner {
    background-color: var(--theme-colour-background-1);
    border: var(--theme-border-thickness) solid var(--theme-colour-background-1);
    color: var(--theme-colour-background-2);
} */
.togglebox .inner .value {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 50%;
    height: 100%;
}
.togglebox > input[type=checkbox] {display: none;}

.togglebox > input[type=checkbox] ~ .inner > .toggle {
    position: absolute;
    left: 0%;
    width: 50%;
    height: 100%;
    background-color: var(--theme-colour-background-1);
    overflow: hidden;
    transition: left 0.3s;
}

.togglebox > input[type=checkbox]:checked ~ .inner > .toggle {
    left: 50%;
}

.togglebox > .inner > .toggle > .inner {
    position: absolute;
    left: 0%;
    width: 200%;
    height: 100%;
    color: var(--theme-colour-background-2);
    transition: left 0.3s;
}

.togglebox > input[type=checkbox]:checked ~ .inner > .toggle > .inner {
    left: -100%;
}










select {
    padding: 8px;

    color: var(--theme-colour-text);
    background-color: var(--theme-colour-background-2);
    border: var(--theme-border-thickness) solid var(--theme-colour-highlight-2);
    border-radius: var(--theme-border-radius);
    box-shadow: var(--theme-shadow-offset-x) var(--theme-shadow-offset-y) var(--theme-shadow-blur) 0 var(--theme-shadow-colour);
}

select:focus {
    outline: none;

    background-color: var(--theme-colour-highlight-2);
    color: var(--theme-colour-background-2);
}

select option {
    padding: 8px;

    color: var(--theme-colour-text);
    background-color: var(--theme-colour-background-2);
    border-radius: var(--theme-border-radius);
}





.message {
    padding: 8px 15px;
    margin-bottom: 15px;
    
    background-color: #b63c38;
    border: var(--theme-border-thickness) solid #b63c38;
    border-radius: var(--theme-border-radius);
}

.message-input {
    padding: 27px 15px 8px 15px;
    margin: -37px 0 15px 0;
    
    background-color: #b63c38;
    border: var(--theme-border-thickness) solid #b63c38;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--theme-border-radius);
    border-bottom-right-radius: var(--theme-border-radius);
}

.message > i {
    margin-right: 15px;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    position: relative;
    width: 100%;
    max-width: 800px;
    background-color: var(--theme-colour-background-2);
    box-shadow: 0px 1px var(--theme-shadow-blur) 0 var(--theme-shadow-colour);
    border-radius: var(--theme-border-radius);
}

.popup.padded {
    padding: 40px 40px 20px 40px;
}

.popup > .inner {
    margin: 0 auto;

    width: calc(100% - 20px);
    max-width: 800px;
}

.popup .close {
    position: relative;
    top: -20px;
    right: -20px;
    font-size: 18px;
    padding: 0 2px;
    text-shadow: none;
    text-align: center;
}






.swiper-container {
    margin-bottom: 15px;
    border-radius: var(--theme-border-radius);
}

.swiper-slide {
    border-radius: var(--theme-border-radius);
}





.dropdown {
    position: relative;
    margin-bottom: 15px;
    color: var(--theme-colour-text);
    background-color: var(--theme-colour-background-2);
    cursor: pointer;
}

.dropdown > .inner {
    padding: 8px;
    border: var(--theme-border-thickness) solid var(--theme-colour-highlight-2);
    border-radius: var(--theme-border-radius);

    transition: border-radius 0.3s;
}

.dropdown.open > .inner {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--theme-colour-background-1);
    color: var(--theme-colour-background-2);
}

.dropdown > .inner >.arrow {
    float: right;
    margin: 5px;
}

.dropdown > .options {
    position: absolute;
    left: 0;
    right: 0;
    /* margin-top: -2px; */
    z-index: 9999;

    border-radius: 0;
    box-shadow: inset 0 0 0 var(--theme-border-thickness) var(--theme-colour-highlight-2);

    height: 0;
    overflow: hidden;

    transition: height 0.3s;
}


.dropdown > .options > .inner {
    margin: var(--theme-border-thickness);
    /* border: var(--theme-border-thickness) solid var(--theme-colour-background-1); */
    border-radius: var(--theme-border-radius);

    transition: border-radius 0.3s;
    overflow: hidden;
}

.dropdown.open > .options > .inner {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown > .options > .inner > .option {
    padding: 8px;
    color: var(--theme-colour-text);
    background-color: var(--theme-colour-background-2);
}

.dropdown > .options > .inner > .option:hover {
    background-color: var(--theme-colour-background-1);
    color: var(--theme-colour-background-2);
}





.colour-pallet {
    margin-bottom: 10px;
    overflow: auto;
}

.colour-pallet > .colour {
    display: block;
    float: left;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: var(--theme-colour-background-1);
    /* border: var(--theme-border-thickness) solid transparent; */
    border: var(--theme-border-thickness) solid var(--theme-colour-highlight-2);
    border-radius: var(--theme-border-radius);
}

.colour-pallet > .colour:hover {
    background-color: var(--theme-colour-highlight-2);
    border: var(--theme-border-thickness) solid var(--theme-colour-highlight-2);
    /* box-shadow: inset 0 0 4px -1px #000; */
}

.colour-pallet > .colour > .inner {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: var(--theme-border-radius);
    box-shadow: inset 0 0 4px -1px var(--theme-colour-highlight-2), var(--theme-shadow-offset-x) var(--theme-shadow-offset-y) var(--theme-shadow-blur) 0 var(--theme-shadow-colour);
}