/*
-- 0 - Other             - 37, 40, 49    - #252831
-- 1 - Background Dark   - 22, 56, 80    - #163850
-- 2 - Compliment        - 255, 255, 255 - #ffffff
-- 3 - Background Light  - 235, 235, 235 - #ebebeb
-- 4 - Highlight         - 254, 182, 63  - #feb63f
*/

body {
    --theme-border-radius: 3px;
    --theme-border-thickness: 20px;

    --theme-colour-highlight: #feb63f;

    color: #fff;
    background-color: #f6f6f6;

    font-family: 'Lato', sans-serif;
}

input,
textarea,
select {
    width: 100%;
    margin-bottom: 15px;
}

.card {
    padding: 15px 15px 0 15px;
    margin-bottom: 15px;
    background-color: #163850;

    border-radius: var(--theme-border-radius);
}




h1.primary,
h2.primary,
h3.primary,
h4.primary,
h5.primary,
h6.primary,
p.primary,
span.primary,
a.primary,
i.primary {
    color: var(--theme-colour-highlight);
}

.price {
    font-size: 1.5rem;
}






.btn {
    padding: 8px;
    margin-bottom: 15px;
    width: 100%;

    background-color: #163850;
    border: var(--theme-border-thickness) solid #ebebeb;
    border-radius: var(--theme-border-radius);

    font-weight: 600;

    cursor: pointer;
}

.btn:hover {
    color: #163850;
    background-color: #ebebeb;
    border: var(--theme-border-thickness) solid #ebebeb;

    font-weight: 600;
}

.btn:not([disabled]):not(.disabled):active {
    color: #163850;
    background-color: #ebebeb;
    border: var(--theme-border-thickness) solid #ebebeb;
    box-shadow: none;
    opacity: 0.6;
}

.btn.primary {
    color: var(--theme-colour-highlight);
    border: var(--theme-border-thickness) solid var(--theme-colour-highlight);
}

.btn.primary:hover {
    color: #163850;
    background-color: var(--theme-colour-highlight);
    border: var(--theme-border-thickness) solid var(--theme-colour-highlight);
}

.btn.primary:not([disabled]):not(.disabled):active {
    color: #163850;
    background-color: var(--theme-colour-highlight);
    border: var(--theme-border-thickness) solid var(--theme-colour-highlight);
    box-shadow: none;
    opacity: 0.6;
}

.btn.primary:focus {
    box-shadow: none;
}




input[type=text] {
    padding: 8px 12px;

    color: #fff;
    background-color: #163850;
    border: var(--theme-border-thickness) solid #ebebeb;
    border-radius: var(--theme-border-radius);
}

input[type=text]:focus {
    outline: none;

    color: #163850;
    background-color: #ebebeb;
    border: var(--theme-border-thickness) solid #ebebeb;
}

input[type=text]::placeholder {
    color: #aaa;
}




textarea {
    padding: 8px;

    color: #fff;
    background-color: #163850;
    border: var(--theme-border-thickness) solid #ebebeb;
    border-radius: var(--theme-border-radius);
}

textarea:focus {
    outline: none;

    color: #163850;
    background-color: #ebebeb;
    border: var(--theme-border-thickness) solid #ebebeb;
}

textarea::placeholder {
    color: #aaa;
}




.checkbox {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 15px;
    width: 44px;
    height: 44px;
    font-size: 16px;
}
.checkbox .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    border: var(--theme-border-thickness) solid #ebebeb;
    border-radius: var(--theme-border-radius);
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
}
.checkbox > input[type=checkbox]:checked + .inner {
    background-color: #ebebeb;
    border: var(--theme-border-thickness) solid #ebebeb;
    color: #163850;
}
.checkbox > .inner .checked {
    position: absolute;
    transform: translateY(200%);
    transition: transform 0.3s;
}
.checkbox > .inner .unchecked {
    position: absolute;
    transform: translateY(0%);
    transition: transform 0.3s;
}
.checkbox > input[type=checkbox]:checked ~ .inner .checked {transform: translateY(0%);}
.checkbox > input[type=checkbox]:checked ~ .inner .unchecked {transform: translateY(-200%);}
.checkbox > input[type=checkbox] {display: none;}






.togglebox {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 15px;
    width: 88px;
    height: 44px;
    font-size: 16px;
}
.togglebox > .inner {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    width: 100%;
    height: 100%;
    border: var(--theme-border-thickness) solid #ebebeb;
    border-radius: var(--theme-border-radius);
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
}
/* .togglebox > input[type=checkbox]:checked + .inner {
    background-color: #ebebeb;
    border: var(--theme-border-thickness) solid #ebebeb;
    color: #163850;
} */
.togglebox .inner .value {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 50%;
    height: 100%;
}
.togglebox > input[type=checkbox] {display: none;}

.togglebox > input[type=checkbox] ~ .inner > .toggle {
    position: absolute;
    left: 0%;
    width: 50%;
    height: 100%;
    background-color: #ebebeb;
    overflow: hidden;
    transition: left 0.3s;
}

.togglebox > input[type=checkbox]:checked ~ .inner > .toggle {
    left: 50%;
}

.togglebox > .inner > .toggle > .inner {
    position: absolute;
    left: 0%;
    width: 200%;
    height: 100%;
    color: #163850;
    transition: left 0.3s;
}

.togglebox > input[type=checkbox]:checked ~ .inner > .toggle > .inner {
    left: -100%;
}










select {
    padding: 8px;

    color: #fff;
    background-color: #163850;
    border: var(--theme-border-thickness) solid #ebebeb;
    border-radius: var(--theme-border-radius);
}

select:focus {
    outline: none;

    background-color: #ebebeb;
    color: #163850;
}

select option {
    padding: 8px;

    color: #000;
    background-color: #163850;
    border-radius: var(--theme-border-radius);
}





.message {
    padding: 8px 15px;
    margin-bottom: 15px;
    
    background-color: #b63c38;
    border: var(--theme-border-thickness) solid #b63c38;
    border-radius: var(--theme-border-radius);
}

.message-input {
    padding: 27px 15px 8px 15px;
    margin: -37px 0 15px 0;
    
    background-color: #b63c38;
    border: var(--theme-border-thickness) solid #b63c38;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--theme-border-radius);
    border-bottom-right-radius: var(--theme-border-radius);
}

.message > i {
    margin-right: 15px;
}

.message > .error {

}



.popup {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    overflow: hidden;
}

.popup > .inner {
    margin: 0 auto;

    width: calc(100% - 20px);
    max-width: 800px;
}



.swiper-container {
    margin-bottom: 15px;
    border-radius: var(--theme-border-radius);
}

.swiper-slide {
    border-radius: var(--theme-border-radius);
}





.dropdown {
    position: relative;
    margin-bottom: 15px;
    color: #fff;
    background-color: #163850;
    border: var(--theme-border-thickness) solid #ebebeb;
    border-radius: var(--theme-border-radius);
    cursor: pointer;
}

.dropdown.open {
    background-color: #feb63f;
    color: #163850;
}

.dropdown > .inner {
    padding: 8px;
}

.dropdown:hover > .inner {
    background-color: #ebebeb;
    color: #163850;
}

.dropdown.open > .inner {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdown > .inner >.arrow {
    float: right;
    margin: 5px;
}

.dropdown > .options {
    position: absolute;
    left: -2px;
    right: -2px;
    margin-top: -2px;
    z-index: 9999;

    border-left: var(--theme-border-thickness) solid #ebebeb;
    border-right: var(--theme-border-thickness) solid #ebebeb;
    border-bottom: var(--theme-border-thickness) solid #ebebeb;
    border-radius: var(--theme-border-radius);

    height: 0;
    overflow: hidden;

    transition: height 0.3s, border 0.3s;
}

.dropdown > .options > .inner > .option {
    padding: 8px;
    color: #fff;
    background-color: #163850;
}

.dropdown > .options > .inner > .option:hover {
    background-color: #ebebeb;
    color: #163850;
}